<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='iter_index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/index.css')}}">
    <title>Reactor Home</title>
</head>

<body>
    {{ header|safe }}
    <p>

    <h1>Tokamak und Stellarator: Die Reaktoren der Kernfusion</h1>
    Bei der Kernfusion konzetriert man sich der Zeit auf zwei Methoden, der Tokamak-Methode und der Stellarator-Methode.
    Diese beiden Methoden und ihr wesentlicher Unterschied werden hier erklärt.
    </p>

</body>

</html>