<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/iter_index.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="img/svg" href="{{url_for('static', filename='Icon.svg')}}">
    <title>Reactor Home</title>
</head>

<body>

    {{ header|safe }}
    <h1>Die Reaktoren</h1>
    <p>


        Bei der Kernfusion konzetriert man sich der Zeit auf zwei Methoden,<br> die Tokamak-Methode und die
        Stellarator-Methode.<br>
        Diese beiden Methoden und ihr wesentlicher Unterschied werden hier erklärt.
    </p>

    <pagebutton onclick="location.href='reactors/stellarator'" style="margin-left: 65vw; margin-top: -6vw;">
        Wie funktioniert ein Stellarator?</pagebutton>

    <pagebutton onclick="location.href='reactors/tokamak'" style="margin-left: 65vw;">
            Wie funktioniert ein Tokamak?</pagebutton>
    <pagebutton onclick="location.href='reactors/vergleich'" style="margin-left: 65vw; margin-top: 6vw;">Vergleich: Stellarator und Tokamak</pagebutton>
    <img src="{{url_for('static', filename='img/lithium_pic.png')}}"
    alt="Hier ist ein Bild verloren gegangen...">
    {{ footer|safe }}
</body>

</html>
<style>
img {
   height: 30vw; 
}

</style>
<script src="{{url_for('static', filename='scripts/index.js')}}"></script>