<html lang="de">
<head>
    <meta charset="UTF-8">

    <title>Stellarator</title>
</head>
<body>
    {{ header|safe }}

    <h1>Der Stellarator-Reaktor</h1>
    <p>Der Stellarator besteht aus einer torusförmigen Anlage, um die herum Magnetspulen angesiedelt, die ein Magnetfeld erzeugen, welches das Plasma im inneren des Reaktors zusammen hält. Die ersten Reaktoren hatten die Form einer liegenden Acht, inzwischen werden jedoch Reaktoren mit einer symmetrischen Anordnung verwendet, um das auseinander Driften des Reaktors zu verhindern.
        Der Stellarator wurde 1951 von Lyman Spitzer in den USA entwickelt im Hintergrund des kalten Krieges nannte man das Projekt Matterhorn, nach Veröffentlichung wurde es daher ebenfalls nach einem bayrischen Berg „Wendelstein“ benannt.
        </p> <img src="{{url_for('static', filename='img/stellarator_schematic.jpg')}}" alt="Hier ist ein Bild verloren gegeangen...">
    
</body>
</html>