<html lang="de">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/index.css')}}">
    <link rel="icon" type="img/svg" href="{{url_for('static', filename='Icon.svg')}}">

    <title>Tokamak</title>
</head>

<body>
    {{ header|safe }}
    <h1>Der Tokamak</h1>
    <p>Der Tokamak ist ein ringförmiger Fusionsreaktor. Er beruht auf der <br>Methode des magnetischen
        Plasmaeinschlusses.
        Dabei besteht das <br>Plasma aus Wasserstoffisotopen, dieses Plasma wird durch ein <br>Magnetfeld zusammen
        gehalten,
        welches unteranderem durch <br>Strom, der durch das Plasma fließt zusammen gehalten wird.<br> <br> Derzeit
        beruhen die
        leistungsstärksten Reaktoren auf dem Tokamak-<br>Prinzip.
        Die Idee zum Tokamak entstand 1949 und kam vom russischen <br>Wissenschaftler Oleg Alexandrowitsch Lawrentjew.
        Später wurde sie<br> von Andrej Sacharow und Igor Tamm weiterentwickelt. Als erster Tokamak<br> gilt der 1962
        gebaute,
        russische T3.
    </p><img src="{{url_for('static', filename='img/tokamak_schematic.jpg')}}"
        alt="Hier ist ein Bild verloren gegangen...">
</body>

</html>
<style>
    img {
        width: 40vw;
        height: auto;
        margin-top: -25vw;
        margin-left: 58vw;
        position: absolute;

    }
</style>