<html lang="de">
<head>
    <meta charset="UTF-8">
    
    <title>Tokamak</title>
</head>
<body>
    <h1>Der Tokamak-Reaktor</h1>
    <p>Der Tokamak ist ein ringförmiger Fusionsreaktor. Er beruht auf der Methode des magnetischen Plasmaeinschlusses. Dabei besteht das Plasma aus Wasserstoffisotopen, dieses Plasma wird durch ein Magnetfeld zusammen gehalten, welches unteranderem durch Strom, der durch das Plasma fließt zusammen gehalten wird. Derzeit beruhen die leistungsstärksten Reaktoren auf dem Tokamak-Prinzip. 
        Die Idee zum Tokamak entstand 1949 und kam vom russischen Wissenschaftler Oleg Alexandrowitsch Lawrentjew. Später wurde sie von Andrej Sacharow und Igor Tamm weiterentwickelt. Als erster Tokamak gilt der 1962 gebaute, russische T3.
        </p>
</body>
</html>