<html lang="de">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/index.css')}}">
    <link rel="icon" type="img/svg" href="{{url_for('static', filename='Icon.svg')}}">

    <title>Vergleich</title>
</head>

<body>
    {{ header|safe }}
    <h1>Vergleich zwischen Stellarator und Tokamak</h1>
    <p>Wir kennen Grundsätzlich zwei Prinzipe zur Kernfusion: Das Tokamak-Prinzip und das Stellarator-Prinzip, aber
        worin unterscheiden sich diese?
        Sie unterscheiden sich in einem unscheinbaren jedoch extrem wichtigen Bestandteil der Kernfusion, dem
        Magnetfeld, dass das Plasma in der Reaktionskammer hält.<br> <br>
        Bei einem Tokamak sind die Magnetspulen ringförmig um die Reaktionskammer angeordnet dabei entsteht ein
        Magnetfeld, dieses ist jedoch nicht konstant, da sich die Teilchen des Feldes nicht auf ihren Leiterbahnen
        halten sondern entweichen. Um diesem Phänomen entgegen zu wirken müssen die Leiterbahnen in einander verdreht
        werden, dies geschieht durch einen Energiestrom der direkt durch das Plasma geschickt wird und das Magnetfeld
        somit konstant hält. Dabei ist man sich allerdings noch nicht einig wie diese Methode effizient gemacht werden
        kann. Zusätzlich wird das Plasma dadurch sehr instabil.<br> <br>
        Bei einem Stellarator gibt es das gleiche Problem, auch hier entweichen die Teilchen aus dem Magnetfeld, jedoch
        arbeitet man hier nicht mit Strom im Plasma sondern versucht die Verdrillung der Leiterbahnen von außen zu
        erreichen, dafür werden die Magnetspulen so präzise geknickt, dass das Magnetfeld verdrillte Leiterbahnen
        aufweist. Ein Nachteil des Stellarators ist hierbei, dass man das Magnetfeld im Nachhinein nur sehr
        eingeschränkt verstellen kann, was ein gut vorstellbares Risiko birgt.
    </p>

    <table class="center">
        <tr>
            <td>
                Reaktoren
            </td>
            <td>
                Prinzip der Reaktoren
            </td>
            <td>
                Genutzte Isotope
            </td>
            <td>
                Problemlösung um die Teilchen auf den Leiterbahnen zu halten
            </td>
            <td>
                Erfinder
            </td>
        </tr>
        <tr>
            <td>
                Tokamak
            </td>
            <td>
                magnetischer Plasmaeinschluss
            </td>
            <td>
                Tritium/Deuterium
            </td>
            <td>
                Strom, der durch das Plasma fließt
            </td>
            <td>
                Oleg Alexandrowitsch Lawrentjew
            </td>
        </tr>
        <tr>
            <td>
                Stellarator
            </td>
            <td>
                magnetischer Plasmaeinschluss
            </td>
            <td>
                Tritium/Deuterium
            </td>
            <td>
                geknickte Magnetspulen
            </td>
            <td>
                Lyman Spitzer
            </td>
        </tr>

    </table>


</body>

</html>
<style>
    h1 {
        text-align: center;
        font-family: sans-serif;
    }
    table.center, th, td {
        margin-left: auto;
        margin-right: auto;
        border: 3px solid black;
    }
    
</style>