<meta charset="utf-8">

<footer>
    <section id="s1">
        <h1>Impressum</h1>
        <p>
            Gymnasium Lohbrügge<br>
            Binnenfeldredder 5,<br>
            21031 Hamburg
        </p>
    </section>
    <section id="s2">
        <h1>Kontakt</h1>
        <p>
            Herr Bamberger<br>
            marc.bamberger@freenet.de<br>
            040 175 96 16 
        </p>
    </section>
    <section id="s3">
        <h1>Quellen</h1>
        <p>
            --sources--
        </p>
    </section>
    <section id="s4">
        <h1>Github</h1>
        <p>
            <a href="https://github.com/Cha0sType/site-thermonuclearfusion" target="_blank">Master Branch</a><br>
            <a href="https://github.com/Cha0sType/site-thermonuclearfusion/blob/master/README.md#readme" target="_blank">Readme</a><br>
        </p>
    </section>
</footer>

<style>

    footer {
        background-color: #29293B;
        height: 16vw;
        text-align: left;
    }

    footer h1 {
        position: absolute;
        margin-top: 2.5vw;
        font-size: 2vw;
        color: #999999;
        font-weight: bolder;
    }

    footer p {
        position: absolute;
        margin-top: 6vw;
        font-size: 1.5vw;
    }

    footer #s2 {
        margin-left: 20vw;
    }

    footer #s3 {
        margin-left: 40vw;
    }

    footer #s4 {
        margin-left: 60vw;
    }

    footer h1::-moz-selection, footer p::-moz-selection, footer br::-moz-selection, footer a::-moz-selection { /* Code for Firefox */
        background: #46445f;
    }
  
    footer h1::selection, footer p::selection, footer br::selection, footer a::selection {
        background: #46445f;
    }
    
</style>
