
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<!-- Google's Material Design Icon Font, that alllows us to use Google-Icons on our Website -->

<div class="header disableSelection">
    <span onclick="location.href='/'" class="material-icons" style="font-size: 4.1vw; margin-left: 6.1vw; color: rgba(255, 255, 255, 0.8); cursor: pointer;">home</span>

    <span class="material-icons-outlined" id="dropdown" style="font-size: 3.1vw; margin-left: 5vw; margin-bottom: 0.4vw; color: rgba(255, 255, 255, 0.8); cursor: pointer;">sms</span>
    <div id="dropdown-content">
        <a href="/iter">Iter</a>
        <a href="/reactors">Reaktoren</a>
        <a href="/basics">Kernfusion</a>
    </div>
    
        --name--
    <!-- In our main.py, the --name-- will be replaced by a h2 with the current website's name -->
</div>

<style>



    @keyframes dropdownAnimation {
        0% { transform: rotate(0deg); }
        30% { transform: rotate(-5deg); }
        70% { transform: rotate(17deg); }
        100% { transform: rotate(0deg); }
    }



    .dropdownAnimation {
        animation-name: dropdownAnimation;
        animation-duration: 0.5s;
        animation-timing-function: ease;
    }

    #dropdown-content {
        overflow: hidden;
        display: none;
        position: absolute;
        background-color: #f7f7f7;
        min-width: 10vw;
        margin-left: 16vw;
        margin-bottom: -9vw;
        box-shadow: 0vw 0.5vw 1vw 0vw rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #dropdown-content a {
        color: black;
        padding: 0.75vw 1vw;
        text-decoration: none;
        display: block;
    }

    #dropdown-content a:hover {
        background-color: #ddd;
    }

    .disableSelection {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        /* To disable the selection for the icons */
    }

    @media screen and (orientation: portrait) {

        .header{
            zoom: 1.5;
            -moz-transform: scale(1.5);
        }
        
        #dropdown-content {
            font-size: 1.3vw;
        }

    }
    
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    document.getElementById('dropdown-content').style.display = 'none';

    function search() {
        document.getElementsByClassName('search')[0].style.marginLeft = "0vw";

        inputLine = document.getElementsByClassName('inputLine');
        inputLine[0].classList.add('animateInputLine');
        inputLine[0].style.width = "9.1vw";

        input = document.getElementsByClassName('input');
        input[0].classList.add('animateInputLine');
        input[0].style.width = "9.1vw";
        input[0].style.display = "block";
        setTimeout(() => { input[0].focus(); }, 1000);
    }

    function resetSearch() {

        if (!document.getElementsByClassName('input')[0].value) {
            
            inputLine = document.getElementsByClassName('inputLine');
            inputLine[0].classList.add('resetInputLineAnimation');
            inputLine[0].style.width = "0vw";

            input = document.getElementsByClassName('input');
            input[0].classList.add('resetInputLineAnimation');
            input[0].style.width = "0vw";
            input[0].style.display = "none";

            input = document.getElementsByClassName('search');
            input[0].classList.add('resetSearchIcon');
            input[0].style.marginLeft = "56.1vw";

            setTimeout(() => {
                inputLine = document.getElementsByClassName('inputLine');
                inputLine[0].classList.remove('animateInputLine');

                input = document.getElementsByClassName('input');
                input[0].classList.remove('animateInputLine');

                inputLine = document.getElementsByClassName('inputLine');
                inputLine[0].classList.remove('resetInputLineAnimation');

                input = document.getElementsByClassName('input');
                input[0].classList.remove('resetInputLineAnimation');

                input = document.getElementsByClassName('search');
                input[0].classList.remove('resetSearchIcon');
            }, 1000);
        }
    }

    function dropdownAnimation() {
        document.getElementById('dropdown').classList.add('dropdownAnimation');
        setTimeout(() => {
            document.getElementById('dropdown').classList.remove('dropdownAnimation');
        }, 500);
    }

    function toggleDropdown() {
        dropdownAnimation();
        setTimeout(() => {
            if (document.getElementById('dropdown-content').style.display == 'none') {
                document.getElementById('dropdown-content').style.display = 'block';
            } else {
                hideDropdown();
            }
        }, 325) // It's shown/hidden 325ms later, because that's slightly before the animation is at 70%, so at the highest rotation value
    }

    function hideDropdown() {
        document.getElementById('dropdown-content').style.display = 'none';
    }

    $toggled = false;
    $('#dropdown').click(function() {
        toggleDropdown();
        $toggled = true;
    });

    $(document).click(function() {
        if (!$toggled) {
            hideDropdown();
        }
        $toggled = false;
    });

</script>