
<div class="header">
    <span onclick="location.href='/'" class="material-icons" style="font-size: 400%; margin-left: 6%; color: rgba(255, 255, 255, 0.8); cursor: pointer;">home</span>

    <div class="dropdown">
        <button class="dropbtn">Themen</button>
        <div class="dropdown-content">
            <a href="/iter">Iter</a>
            <a href="/reactors">Reaktoren</a>
            <a href="/basics">Kernfusion</a>
        </div>
    </div>
    --name--
    <!-- In our main.py, the --name-- will be replaced by a h2 with the current website's name -->
    <div class="inputLine"></div>
    <input onfocusout="resetSearch()" class="input" style="display: none; margin-bottom: 5px;">
    <span onclick="search()" class="material-icons search" style="font-size: 370%; margin-left: 56%; color: rgba(255, 255, 255, 0.8); cursor: pointer;">search</span>
</div>

<style>

    @keyframes inputLine {
        from { width: 0%; }
        to { width: 9%; }
    }

    @keyframes resetInputLine {
        from { width: 9%; }
        to { width: 0%; }
    }

    @keyframes resetSearchIcon {
        from { margin-left: 64.99%; }
        to { margin-left: 56%; }
    }

    .inputLine {
        position: absolute;
        margin-left: 72.687%;
        /* 
           The inputLine should actually have been the same as
           the resetSearchIcon margin-left value from 'from', but since
           it's absolute, it's not being affected by the other header elements
           and it needs to be a specific value higher.
        */
        width: 0%;
        height: 4px;
        background-color: #12121B;
    }

    .input {
        margin-left: 56%;
        background: transparent;
        border: none;
        
        font-size: 130%;
        color: rgba(255, 255, 255, 0.8);
    }

    .input:focus {
        outline: none;
    }

    .animateInputLine {
        animation-name: inputLine;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    .resetInputLineAnimation {
        animation-name: resetInputLine;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    .resetSearchIcon {
        animation-name: resetSearchIcon;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    

    .dropbtn {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
        padding: 16px;
        font-size: 130%;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }


    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


    .dropdown-content a:hover {
        background-color: #ddd;
    }


    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: transparent;
    }
    
</style>

<script>

    function search() {
        document.getElementsByClassName('search')[0].style.marginLeft = "0%";

        inputLine = document.getElementsByClassName('inputLine');
        inputLine[0].classList.add('animateInputLine');
        inputLine[0].style.width = "9%";

        input = document.getElementsByClassName('input');
        input[0].classList.add('animateInputLine');
        input[0].style.width = "9%";
        input[0].style.display = "block";
        setTimeout(() => { input[0].focus(); }, 1000);
    }

    function resetSearch() {

        if (!document.getElementsByClassName('input')[0].value) {
            
            inputLine = document.getElementsByClassName('inputLine');
            inputLine[0].classList.add('resetInputLineAnimation');
            inputLine[0].style.width = "0%";

            input = document.getElementsByClassName('input');
            input[0].classList.add('resetInputLineAnimation');
            input[0].style.width = "0%";
            input[0].style.display = "none";

            input = document.getElementsByClassName('search');
            input[0].classList.add('resetSearchIcon');
            input[0].style.marginLeft = "56%";

            setTimeout(() => {
                inputLine = document.getElementsByClassName('inputLine');
                inputLine[0].classList.remove('animateInputLine');

                input = document.getElementsByClassName('input');
                input[0].classList.remove('animateInputLine');

                inputLine = document.getElementsByClassName('inputLine');
                inputLine[0].classList.remove('resetInputLineAnimation');

                input = document.getElementsByClassName('input');
                input[0].classList.remove('resetInputLineAnimation');

                input = document.getElementsByClassName('search');
                input[0].classList.remove('resetSearchIcon');
            }, 1000);
        }
    }

</script>