<!DOCTYPE html>
<html lang="de">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/index.css')}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Google's Material Design Icon Font, that alllows us to use Google-Icons on our Website -->

        <meta charset="UTF-8">
        <title>Kernfusionsreaktoren - Home</title>


    </head>
    <body>

        {{ header|safe }}
        
        <h1>Willkommen!</h1>
        <!--div>
            <a href="basics"><button class="topbutton">Basics</button></a>
            <a href="reactors">Reactor Types</a>
            <a href="iter">ITER</a>
        </div> -->


    </body>
</html>