<html lang="de">
<head>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google's Material Design Icon Font, that alllows us to use Google-Icons on our Website -->

    <meta charset="UTF-8">
    <title>Kernfusionsreaktoren - Startseite</title>
</head>
<body>
    <div class="header">
        <span onclick="location.href='index.html'" class="material-icons" style="font-size: 400%; margin-left: 10%; color: rgba(255, 255, 255, 0.8); cursor: pointer;">home</span>
    </div>
    <!--div>
        <a href="basics"><button class="topbutton">Basics</button></a>
        <a href="reactors">Reactor Types</a>
        <a href="iter">ITER</a>
      </div> -->
</body>
</html>