<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='iter_index.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/index.css')}}">
    <title>ITER - Forschung in Europa</title>
</head>
<body>
    {{ header|safe }}
    <div class="content">
        <h2>
            Was ist der Status von ITER?
        </h2>
        <img src="{{url_for('static', filename='img/iter-inside.jpg')}}" alt="404 Image not found">
    </div>


</body>
</html>