<html>
<head>
    <link href="{{url_for('static', filename='stylesheets/iter_index.css')}}" rel="stylesheet" />
    <meta charset="utf-8"/>
    <title>ITER - Ein Europäisches Forschungsprojekt</title>
</head>
<body>
    <header>
        <div class="top">
            <h1 class="header-h1">ITER - Ein Europäisches Forschunngsprojekt</h1>
        </div>
    </header>
    <main class="grid">
        <div>
            ITER ist ein Forschungsreaktor im Süden Frankreichs. Momentan befindet er sich noch im Bau, genau wie dieser Text :D
        </div>
        <img src="{{url_for('static', filename='img/iter-view.jpg')}}" alt="Alternate Text" />
    </main>
    <footer>
        <div class="footline">
            <button>
                Credits
            </button>
            <button>
                Impressum
            </button>
            <button onclick="location.href='https://github.com/Cha0sType/site-corefusionreactor'">
                GitHub
            </button>
        </div>
    </footer>
</body>
</html>